{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block hero %}
    <twig:Molecules:Hero label="Homepage" />
{% endblock %}
{% block body %}
  {% set formContentArray = [] %}
    {% set formContent %}
            <twig:Molecules:FormContainer formTitle="Welcome to Bluedrop Factory !">
                <div class="flex item-center gap-4 [&>a]:w-full lg:[&>a]:w-[calc(50%-8px)] flex-wrap">
                    <twig:Atoms:Button label="Test Icons" url="{{path('app_test_icons')}}" />
                    <twig:Atoms:Button label="Test Flash Messages" url="{{path('app_test_flash')}}" variant="outline" />
                </div>
            </twig:Molecules:FormContainer>
    {% endset %}
    {% set formContentArray = formContentArray|merge([formContent]) %}
    <twig:Utils:Section :gridItems="formContentArray" columns="1" columnsWidth="8" />
{% endblock %}
