{% extends 'base.html.twig' %}

{% block title %}Legal Notices{% endblock %}

{% block hero %}
    <twig:Molecules:Hero label="Legal notices" />
{% endblock %}
{% block body %}
    <twig:Utils:Section :withGrid="false">
        {% set text %}
            <p>To be defined.</p>
        {% endset %}
        <twig:Atoms:RichText :text="text" />
   </twig:Utils:Section>
{% endblock %}
